<%- include('partials/blankHeader') %>
<style>
  
</style>
<body class="text-center mt-sm-5">
  <main class="form-signin w-100 m-auto">
    <form action="/login" method="post">
      <h1 class="h3 mb-3 fw-normal">Sign In</h1>
      <div class="d-grid gap-3">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name="username"
          />
          <label for="floatingInput">Email address or username</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            name="password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-dark" type="submit">
          Sign in
        </button>
      </div>
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    <p>Don't have an account? <a href="/register">Sign up!</a></p>
  </main>
</body>
