<%- include('partials/header') %>

    <div class="content m-lg-5 justify-content-center">
        <div class="container">
            <div class="row gx-5">
                <div class="p-3 col-6 col-sm-3">
                    <a href="">Edit Profile</a>
                </div>
            </div>
            <div class="row gx-5">
                <div class="p-3 col-6 col-sm-3">
                    <a href="">Change Password</a>
                </div>
            </div>
            <div class="row gx-5">
                <div class="p-3 col-6 col-sm-3">
                    <a href="">Email Notifications</a>
                </div>
            </div>
            <div class="row gx-5">
                <div class="p-3 col-6 col-sm-3">
                    <a href="">Privacy and Security</a>
                </div>
            </div>
            <div class="row gx-5">
                <div class="p-3 col-6 col-sm-3">
                    <a href="">Login Activity</a>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>
